/*For Desktop */
    .col-1 {width:8.33%;}
    .col-2 {width:16.66%;}
    .col-3 {width:25%;}
    .col-4 {width:33.33%;}
    .col-5 {width:41.66%;}
    .col-6 {width:50%;}
    .col-7 {width:58.33%;}
    .col-8 {width:66.66%;}
    .col-9 {width:75%;}
    .col-10 {width:83.33%;}
    .col-11 {width:91.66%;}
    .col-12 {width:100%;}


    *{
        margin:0px;
        padding: 0px;
        box-sizing: border-box;
    }
    /* Navbar Style Starts Here */


    .nav-logo{
        float: left;
    }
    .nav-heading h1{
        float:right;
    }
    .nav-menu{
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-menu a{
        padding: 5px 10px;
        margin: 20px 20px;
        background-color: transparent;
    }
    .navbar{
        padding-bottom: 0px;
    }

    /* Navbar Style Ends Here */


    /* Profile Style Starts Here */


    .top-icon img{
        height: 300px;

    }
    .bottom-icon img{
        height:300px;
    }
    .bottom-icon img:hover{
        transition: 3s;
        height:400px;
    }
    .bottom-icon {
        left: 150px;
    }
    .top-icon img:hover{
        transition: 3s;
        height: 400px;

    }
    .top-icon{
        right:150px;
    }

     /* Profile Style Ends Here */



     /* About Me Style Starts Here */
    .about-me-image{
        float:left;
        text-align: center;
        padding-left: 200px;
        
    }
    .about-me{
        margin-top: 450px;
        height: 700px;
        padding-top: 150px;
       
    }
    .local-hr{
        margin:0 auto;
        width: 50%;
        
    }
    .name p{
        padding: 10px 0px;
        text-align: left;
        margin-left: 700px;
    }
    .address p{
        padding: 10px 0px;text-align: left;
        margin-left: 700px;
    }
    .email p{
        padding: 10px 0px;text-align: left;
        margin-left: 700px;
    }
    .phone p{
        padding: 10px 0px;text-align: left;
        margin-left: 700px;
    }
    button{
        padding: 10px;
    }
    .about-me-button{
        margin-top: 10px;
        padding-right: 930px;
    }
    .profile-para p{
        padding-bottom: 10px;
        margin-left: 700px;
        margin-right: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }
    .about-me-header{
        padding-right: 450px;
        margin-bottom: 100px;
    }
    .professional_experience .skills{
        width: 550px;
    }
    .list ul li{
        left:0px;
        
    }
    .professional_experience .skills{
        margin-left: 15px;
    }
    .professional_experience .education{
        margin-left: 15px;;
    }
     /* About Me Style Ends Here */

     /* Contact Me Style Starts  Here */
     .connect{
        height:450px;
        
     }